/*------------
anim du texte bloc en pop-up
------------ */
.principale p{
    animation: anim-texte-pop 1s ease-in-out both;
}

@keyframes anim-texte-pop {
    from{
        transform: scale(0%);
    }
    50%{
        transform: scale(110%);
    }
    to{
        transform: scale(100%);
    }
}

/*------------
anim des boutons
------------ */
.animationBouton div{
    animation: anim-entete 1s ease-in-out both;
}

@keyframes anim-entete {
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
}
// bug, doit mettre 6 au lieu de 5, aucune idee pourquoi
$columns: 6;
@for $i from 1 to $columns {
    /* $i */
    .animationBouton div:nth-of-type(#{$i}){
        animation-delay: .5*$i#{s}; // delais selon la boucle de la valeur columns
    }
}


/*------------
anim du texte Conception d'interface
------------ */
$columns: 5;
@for $i from 1 through $columns {
    .principale h3:nth-of-type(#{$i}){
        animation: anim-#{$i} 1s .0*$i#{s} both;
    }
}
$tabTranslat:(
    1: translateY(-500px),
    2: translateY(-600px),
    3: translateX(-500px),
    4: translateY(-500px),
    5: translateY(-500px)
);


@each $i, $element in $tabTranslat {
    @keyframes anim-#{$i}{
        from{
            transform: $element rotateY(720deg);
        }
        to{
            transform: translate(0) rotate(0);
        }
    }
}