.principale p{
    animation: anim-texte-pop 1s ease-in-out both;
}

@keyframes anim-texte-pop {
    from{
        transform: scale(0%);
    }
    50%{
        transform: scale(110%);
    }
    to{
        transform: scale(100%);
    }
}



/*
------------
anim des boutons
------------
*/
.animation div{
    animation: anim-entete 1s ease-in-out both;
}

@keyframes anim-entete {
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
}

$columns: 6;
@for $i from 1 to $columns {
    .animation div:nth-of-type(#{$i}){
        animation-delay: .5*$i#{s}; // delais selon la boucle de la valeur columns
    }
}